[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
openai = "*"
langchain = "*"
langchain-community = "*"
transformers = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
